.header{
  text-align: center;
}
.icon-wrap{
  padding-bottom: 20px;
}
img.icon-img {
  margin-right: 20px;
  height: 120px;
}
.input-wrap {
  width: max-content;
  margin: auto;
}
.text-field{
  width: 530px;
  height: 30px;
}
.button-style{
  margin-left: 20px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  font-family: sans-serif;
  background: #43c215;
  color: #fff;
}

.error-msg {
  margin: 20px auto 0px auto;
  width: 567px;
  text-align: center;
  padding: 12px 30px;
  color: red;
  font-family: sans-serif;
  background-color: #ffc1aa38;
  display: none;
}

.filter-button-bar {
  padding: 15px;
  width: 300px;
  margin: auto;
}
#view_all, #active_tasks,  #closed_tasks{
  background-color: #ffa85d;
}    
.todo-container{
  width: 650px;
  margin: auto;
}
#todo-list{
  padding-left: 0px;
  margin-top: 0px;
}
input[type="checkbox"] {
  margin: 0px 20px 0px 15px;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-family: sans-serif;
  width: 672px;
  list-style: none;
  border: 2px solid white;
}
.remove-button{
  float: right;
  color: black;
  background-color: #e8e8e8;
  border-radius: 10px;
  border-style: unset;
  margin-top: 4px;
  margin-right: 15px;
}
.remove-button:hover{
  background-color: red;
}
.strikethrough{
  text-decoration: line-through;
  text-decoration-color: darkgray;
  background-color: #c9ffc9b8;
}

